$sky800: #075985;
$sky50: #F0F9FF;
$rose700: #BE123C;
$stone300: #D6D3D1;

@mixin phone{
    @media (max-width: 599px) { @content;}
}

.Container{
    display: flex;
    width: 800px;
    flex-direction: column;
    margin-top: 82px;
    row-gap: 44px;
    @include phone{
        width: 100%;
    }
}

.HeaderContainer{
    display: flex;
    flex-direction: column;
    row-gap: 44px;

    &__Header{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        @include phone{
            align-items: center;
            flex-direction: column;
            row-gap: 12px;
        }
        &__Title{
            font-size: 24px;
            font-weight: 700;
            @include phone{
                font-size: 18px;
            }
        }
        &__ButtonContainer{
            display: flex;
            flex-direction: row;
            column-gap: 32px;
        }
    }

    &__InputWrapper{
        display: flex;
        flex-direction: column;
        row-gap: 10px;
    }

    &__Input{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        @include phone{
            align-items: center;
            flex-direction: column;
            row-gap: 12px;
        }
        &__InputText{
            width: 600px;
            height: 36px;
            border: none;
            background-color: transparent;
            font-size: 16px;
            font-weight: 400;
            word-break: break-word;
            resize: none;
            @include phone{
                width: 95%;
            }
        }
        &__ButtonContainer{
            display: flex;
            flex-direction: row;
            column-gap: 32px;
        }
    }
}

.Button{
    background-color: $sky800;
    padding: 8px 16px;
    color: $sky50;
    border: none;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 600;
}

.ButtonClear{
    color: $rose700;
    font-size: 14px;
    font-weight: 600;
    border: none;
    background-color: transparent;
}

.ButtonCancel{
    color: $sky800;
    font-size: 14px;
    font-weight: 600;
    border: none;
    background-color: transparent;
}

.ItemWrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

::placeholder {
    color: $stone300;
    font-size: 16px;
    font-weight: 400;
}

*:focus {
    outline: none;
}

button:hover{
    cursor: pointer;
}



